image: d-reg.hb.dfki.de:5000/robot-config/ros-pip-pytest:humble-0.0.1

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  # TODO: linting?
  - build
  - test

helloric_ui_com build:
  stage: build
  script:
    - pip3 install -r requirements.txt

helloric_ui_com test:
  stage: test
  script:
    - pip3 install -r requirements.txt
    # build temporary colcon workspace
    - mkdir -p ~/colcon_ws/src
    - ln -s /builds/helloric/helloric_ui_com/helloric_ui_com/integration_tests/helloric_ui_com_test ~/colcon_ws/src/helloric_ui_com_test
    - . /opt/ros/humble/setup.sh && cd ~/colcon_ws && colcon build
    # Integration tests
    - . ~/colcon_ws/install/setup.sh && launch_test /builds/helloric/helloric_ui_com/helloric_ui_com/integration_tests/launch_testing/com_launch_test.py
  artifacts:
    paths:
      - build/
