image: d-reg.hb.dfki.de:5000/robot-config/ros-pip-pytest:jazzy-0.0.1

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  # TODO: linting?
  - build
  - test

helloric_ui_com build:
  stage: build
  script:
    - git config --global url."https://git.hb.dfki.de/".insteadof "git@git.hb.dfki.de:"
    - pip3 install -r requirements.txt
    - colcon build && . install/setup.bash

helloric_ui_com test:
  stage: test
  script:
    - git config --global url."https://git.hb.dfki.de/".insteadof "git@git.hb.dfki.de:"
    - pip3 install -r requirements.txt
    - colcon build && . install/setup.bash
    # build temporary colcon workspace
    # Integration tests
    - . /opt/ros/jazzy/setup.sh && launch_test helloric_ui_com/test/com_launch_test.py
  artifacts:
    paths:
      - build/
